.placemark {
    position: absolute;
    top: -16px;
    left: -10px;
    z-index: 1;
}

.icon {
	cursor: pointer;
    height: 32px;
}

.hint {
    border: 1px solid goldenrod;
    background-color: 'grey';
    display: inline-block;
    padding: 4px;
    border-radius: 3px;
    background-color: gainsboro;
}
