.sideMenu{
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 101;
    background-color: white;
    display: flex;
    width: 50px;
    overflow: hidden;
    transform: translateZ(0);
}

.sideMenu.open{
     width: 300px;
}

.sideMenu .searchIcon{
    width: 50px;
    height: 50px;
    font-size: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
}

@keyframes changeContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sideMenu.open .searchIcon::after {
  animation: changeContent 2s linear;
}
.sideMenu.closed .searchIcon::before {
  animation: changeContent 2s linear;
}

.sideMenu .searchIcon::before{
position: absolute;
left: 10px;
top: 8px;
content: "";

}
.sideMenu .searchIcon::after{
position: absolute;
left: 10px;
top: 8px;
content: "";
}

.sideMenu.closed .searchIcon::before{
content: "🔍";
}


.sideMenu.open .searchIcon::after{
content: "✕";
}

.sideMenu .term{
    font-size: 25px;
    height: 28px;
    margin: 8px;
    width: 230px;
}

.sideMenu .top{
    display: flex;
    flex-direction: column;
}

.sideMenu.open .results{
    overflow: auto;
    max-height: 400px;
    max-width: 300px;
}

.sideMenu .resultItem{
    padding: 4px;
    margin: 10px;
}